.evening {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 850px;
  background-color: #f3efe6;
}

.tear {
  position: absolute;
  top: -42px;
  width: 100%;
  height: 60px;
  background-image: url("@/shared/assets/icon/tear.svg");
  z-index: 2;
}

.background {
  position: absolute;
  inset: 0;
  background-image: url("@/shared/assets/img/stripes-bg.jpg");
  background-repeat: repeat-x;
}

.inner {
  position: relative;
  width: min(100%, 375px);
  min-height: 850px;
  margin: 0 auto;
  z-index: 2;
}

.mirror {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.card {
  position: absolute;
  left: 10.5%;
  top: 29.5%;
  width: 79%;
  padding: 9% 6%;
  text-align: center;
  z-index: 4;
}

.title {
  font-family: $font-cormorant-garamond;
  font-size: 32px;
  line-height: 80%;
  font-variant-caps: all-small-caps;
  color: #7a8766;
  margin-bottom: 24px;

  &Char {
    font-family: $font-snell-roundhand;
    font-size: 56px;
    font-weight: 500;
    font-variant-caps: normal;
  }
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #606c4f;

  &Bold {
    font-weight: 500;
  }
}

.beads {
  position: absolute;
  bottom: -42px;
  width: 100%;
  height: 94px;
  background: url("@/shared/assets/icon/beads.svg");
  z-index: 2;
}
